.box{
    display: block;
    width: 54%;
    height: 380px;
    padding-top: 300px;
    padding-left: 700px;
    background-color: whitesmoke;
    box-sizing: content-box;
    border: 1px solid;
    border-color: black;
}

.parent {
    width: 100px;
    height: 100px;
    position: relative;
    top: 0;
    bottom: 0;
    animation-duration: 10s;
    animation-name: parent;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-style: preserve-3d;
}

.child1 {
    text-align: center;
    border: 1px solid black;
    background-color: red;
    width: 100px;
    height: 100px;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    animation-duration: 10s;
    animation-name: child1;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translateZ(-1px);
    transform-style: preserve-3d;
}

.child2 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    top: -100%;
    right: 0;
    bottom: 0;
    left: 0;
    background: blue;
    position: relative;
    margin: auto;
    animation-duration: 10s;
    animation-name: child2;
    animation-fill-mode: both;
    transform: translateZ(1px);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-style: preserve-3d;
}
@keyframes parent {
    from {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

@keyframes child1 {
    0% {
        transform: rotateZ(0deg) translateZ(100px);
    }
    50% {
        transform: rotateZ(180deg);
    }
    100% {
        transform: rotateZ(360deg) translateZ(100px);
    }
}

@keyframes child2 {
    0% {
        transform: rotateZ(0deg) translateZ(-100px);
    }
    50% {
        transform: rotateZ(-180deg);
    }
    100% {
        transform: rotateZ(-360deg) translateZ(-100px);
    }
}
